<!DOCTYPE html>
<html>
<head>
	<title>Hello Aliyun</title>
	<script src="loghub-tracking.js"></script>
	<script src="performance.js"></script>
	<script src="calculate.js"></script>

</head>
<body>
	<h3>Hello aliyun</h3>
</body>
</html>